.70_62 { 
	overflow:hidden;
}.e70_62 { 
	background-color:rgba(132.0000073313713, 184.00000423192978, 255, 0.30000001192092896);
	width:1920px;
	height:1080px;
	position:absolute;
	background-image:url(images/______________________pt_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e318_72 { 
	width:1242px;
	height:1080px;
	position:absolute;
	left:981px;
	top:0px;
	background-image:url(images/two_businessman_shake_hand_with_partner_to_celebration_partnership_and_business_deal_concept_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e70_63 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:279px;
	height:72px;
	position:absolute;
	left:73px;
	top:70px;
	font-family:Moul;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e70_64 { 
	color:rgba(255, 255, 255, 1);
	width:656px;
	height:87px;
	position:absolute;
	left:73px;
	top:255px;
	font-family:Moul;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}.e70_65 { 
	width:840px;
	height:78.94735717773438px;
	position:absolute;
	left:73px;
	top:484px;
}.e70_66 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:840px;
	height:78.94735717773438px;
	position:absolute;
	left:0px;
	top:0px;
}.70_66 { 
	border:1px solid rgba(17.00000088661909, 17.00000088661909, 17.00000088661909, 1);
}.e70_72 { 
	color:rgba(0, 0, 0, 0.5);
	width:86px;
	height:34px;
	position:absolute;
	left:105px;
	top:506px;
	font-family:Montserrat;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e70_75 { 
	width:64px;
	height:40px;
	position:absolute;
	left:815px;
	top:500px;
}.e70_76 { 
	width:64px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}.e70_77 { 
	transform: rotate(180deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:64px;
	height:40px;
	position:absolute;
	left:64px;
	top:40px;
}.e70_78 { 
	transform: rotate(180deg);
	background-color:rgba(255, 255, 255, 1);
	width:28.399999618530273px;
	height:17.200000762939453px;
	position:absolute;
	left:46.400001525878906px;
	top:27.200000762939453px;
}.e301_828 { 
	box-shadow:0px 0px 17.100000381469727px rgba(255, 219.83343422412872, 176.85190379619598, 0.8999999761581421);
	background-color:rgba(102.46487617492676, 80.14805808663368, 66.33288100361824, 1);
	width:244px;
	height:76px;
	position:absolute;
	left:371px;
	top:725px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}.e318_66 { 
	color:rgba(255, 255, 255, 1);
	width:146px;
	height:35px;
	position:absolute;
	left:420px;
	top:745px;
	font-family:Merriweather Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e355_30 { 
	width:50px;
	height:50px;
	position:absolute;
	left:1800px;
	top:70px;
	background-image:url(images/image_75.png);
	background-repeat:no-repeat;
	background-size:cover;
}