.e70_40 { 
	overflow:hidden;
}
.e70_40 { 
	background-color:rgba(132.0000073313713, 184.00000423192978, 255, 0.30000001192092896);
	width:1920px;
	height:1080px;
	position:absolute;
	background-image:url(images/______________________pt_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e318_71 { 
	width:911px;
	height:1090px;
	position:absolute;
	left:1009px;
	top:-1.8189894035458565e-12px;
	background-image:url(images/project_management_quality_iron_triangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e70_41 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:279px;
	height:72px;
	position:absolute;
	left:97px;
	top:68px;
	font-family:Moul;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e70_42 { 
	color:rgba(255, 255, 255, 1);
	width:861px;
	height:87px;
	position:absolute;
	left:97px;
	top:256px;
	font-family:Moul;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e70_43 { 
	width:840px;
	height:78.94735717773438px;
	position:absolute;
	left:105px;
	top:458px;
}
.e70_44 { 
	background-color:rgba(255, 255, 255, 1);
	width:840px;
	height:78.94735717773438px;
	position:absolute;
	left:0px;
	top:0px;
}
.e70_44 { 
	border:1px solid rgba(17.00000088661909, 17.00000088661909, 17.00000088661909, 1);
}
.e70_45 { 
	width:840px;
	height:78.94735717773438px;
	position:absolute;
	left:101px;
	top:579px;
}
.e70_46 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:840px;
	height:78.94735717773438px;
	position:absolute;
	left:0px;
	top:0px;
}
.e70_46 { 
	border:1px solid rgba(17.00000088661909, 17.00000088661909, 17.00000088661909, 1);
}
.e70_50 { 
	color:rgba(0, 0, 0, 0.5);
	width:86px;
	height:34px;
	position:absolute;
	left:136px;
	top:480px;
	font-family:Montserrat;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e70_51 { 
	color:rgba(0, 0, 0, 0.5);
	width:300px;
	height:34px;
	position:absolute;
	left:136px;
	top:602px;
	font-family:Montserrat;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e70_53 { 
	width:64px;
	height:40px;
	position:absolute;
	left:847px;
	top:477px;
}
.e70_54 { 
	width:64px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e70_55 { 
	transform: rotate(180deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:64px;
	height:40px;
	position:absolute;
	left:64px;
	top:40px;
}
.e70_56 { 
	transform: rotate(180deg);
	background-color:rgba(255, 255, 255, 1);
	width:28.399999618530273px;
	height:17.200000762939453px;
	position:absolute;
	left:46.400001525878906px;
	top:27.200000762939453px;
}
.e70_57 { 
	width:64px;
	height:40px;
	position:absolute;
	left:843px;
	top:599px;
}
.e70_58 { 
	width:64px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e70_59 { 
	transform: rotate(180deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:64px;
	height:40px;
	position:absolute;
	left:64px;
	top:40px;
}
.e70_60 { 
	transform: rotate(180deg);
	background-color:rgba(255, 255, 255, 1);
	width:28.399999618530273px;
	height:17.200000762939453px;
	position:absolute;
	left:46.400001525878906px;
	top:27.200000762939453px;
}
.e318_28 { 
	width:50px;
	height:50px;
	position:absolute;
	left:1800px;
	top:70px;
	background-image:url(images/image_74.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_826 { 
	box-shadow:0px 0px 17.100000381469727px rgba(255, 219.83343422412872, 176.85190379619598, 0.8999999761581421);
	background-color:rgba(102.46487617492676, 80.14805808663368, 66.33288100361824, 1);
	width:244px;
	height:76px;
	position:absolute;
	left:399px;
	top:738px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e318_64 { 
	color:rgba(255, 255, 255, 1);
	width:216px;
	height:35px;
	position:absolute;
	left:427px;
	top:758px;
	font-family:Merriweather Sans;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
