.1_3 { 
	overflow:hidden;
}.e1_3 { 
	background-color:rgba(241.00000083446503, 206.0000029206276, 179.000004529953, 0.550000011920929);
	width:1920px;
	height:1080px;
	position:absolute;
}.e10_4 { 
	background-color:rgba(102.00000151991844, 80.00000283122063, 66.00000366568565, 1);
	width:1290px;
	height:1080px;
	position:absolute;
	left:-71px;
	top:0px;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e301_641 { 
	width:1306px;
	height:1093px;
	position:absolute;
	left:1093px;
	top:-13px;
	background-image:url(images/rectangle_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e31_46 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:279px;
	height:72px;
	position:absolute;
	left:141px;
	top:43px;
	font-family:Moul;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}.e31_50 { 
	color:rgba(255, 255, 255, 1);
	width:827px;
	height:116px;
	position:absolute;
	left:160px;
	top:222px;
	font-family:Moul;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}.e31_56 { 
	width:840px;
	height:78.94735717773438px;
	position:absolute;
	left:154px;
	top:518px;
}.e31_57 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:840px;
	height:78.94735717773438px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.31_57 { 
	border:1px solid rgba(17.00000088661909, 17.00000088661909, 17.00000088661909, 1);
}.e31_60 { 
	width:840px;
	height:78.94735717773438px;
	position:absolute;
	left:154px;
	top:639.0526733398438px;
}.e31_61 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:840px;
	height:78.94735717773438px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.31_61 { 
	border:1px solid rgba(17.00000088661909, 17.00000088661909, 17.00000088661909, 1);
}.e31_67 { 
	color:rgba(0, 0, 0, 0.5);
	width:80px;
	height:34px;
	position:absolute;
	left:185px;
	top:540px;
	font-family:Montserrat;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e31_68 { 
	color:rgba(0, 0, 0, 0.5);
	width:135px;
	height:34px;
	position:absolute;
	left:185px;
	top:662px;
	font-family:Montserrat;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e301_638 { 
	box-shadow:0px 0px 15.300000190734863px rgba(0, 0, 0, 0.6000000238418579);
	background-color:rgba(146.00000649690628, 171.00000500679016, 207.00000286102295, 1);
	width:244px;
	height:76px;
	position:absolute;
	left:452px;
	top:800px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}.e301_639 { 
	color:rgba(255, 255, 255, 1);
	width:123px;
	height:39px;
	position:absolute;
	left:513px;
	top:818px;
	font-family:Merriweather Sans;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e301_643 { 
	box-shadow:0px 8px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:109px;
	height:27px;
	position:absolute;
	left:1434px;
	top:1017px;
	border-top-left-radius:58px;
	border-top-right-radius:58px;
	border-bottom-left-radius:58px;
	border-bottom-right-radius:58px;
}.e301_644 { 
	background-color:rgba(255, 255, 255, 1);
	width:55px;
	height:27px;
	position:absolute;
	left:1434px;
	top:1017px;
	border-top-left-radius:58px;
	border-top-right-radius:58px;
	border-bottom-left-radius:58px;
	border-bottom-right-radius:58px;
}.e301_645 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:1552px;
	top:1017px;
}.e301_646 { 
	box-shadow:0px 8px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:1588px;
	top:1017px;
}.e301_647 { 
	box-shadow:0px 8px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:1398px;
	top:1017px;
}.e301_648 { 
	box-shadow:0px 8px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:1362px;
	top:1017px;
}.e301_649 { 
	box-shadow:0px 8px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:1660px;
	top:1017px;
}.e301_650 { 
	box-shadow:0px 8px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:27px;
	height:27px;
	position:absolute;
	left:1624px;
	top:1017px;
}.e301_841 { 
	transform: rotate(-45deg);
	position:absolute;
	left:33px;
	top:34px;
}.301_841 { 
	border:3px solid rgba(255, 255, 255, 1);
}.e301_842 { 
	transform: rotate(45deg);
	position:absolute;
	left:59.5166015625px;
	top:34px;
}.301_842 { 
	border:3px solid rgba(255, 255, 255, 1);
}