.e481_40 { 
	overflow:hidden;
}
.e481_40 { 
	background-color:rgba(239.0625, 239.0625, 239.0625, 1);
	width:1980px;
	height:2606px;
	position:absolute;
	background-image:url(images/payment.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e481_41 { 
	color:rgba(0, 0, 0, 1);
	width:330px;
	height:48px;
	position:absolute;
	left:368px;
	top:1422px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e481_42 { 
	background-color:rgba(102.46487617492676, 80.14805808663368, 66.33288100361824, 1);
	width:1980px;
	height:2606px;
	position:absolute;
	left:0px;
	top:0px;
}
.e481_43 { 
	background-color:rgba(102.00000151991844, 80.00000283122063, 66.00000366568565, 1);
	width:1972px;
	height:2606px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_116.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e481_45 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1883px;
	height:2280px;
	position:absolute;
	left:48px;
	top:200px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
	background-image:url(images/rectangle_35.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e481_45 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e481_97 { 
	color:rgba(0, 0, 0, 1);
	width:549px;
	height:77px;
	position:absolute;
	left:823px;
	top:1241px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e481_46 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:669px;
	height:173px;
	position:absolute;
	left:651px;
	top:27px;
	font-family:Moul;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
}
.e481_47 { 
	color:rgba(0, 0, 0, 1);
	width:1723px;
	height:155px;
	position:absolute;
	left:249px;
	top:542px;
	font-family:Inter;
	text-align:left;
	font-size:128px;
	letter-spacing:0;
}
.e481_96 { 
	color:rgba(0, 0, 0, 1);
	width:1239px;
	height:116px;
	position:absolute;
	left:518px;
	top:1101px;
	font-family:Inter;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e485_30 { 
	width:835px;
	height:113px;
	position:absolute;
	left:680px;
	top:1404px;
}
.e480_55 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:151.0823974609375px;
	height:113px;
	position:absolute;
	left:499.1114807128906px;
	top:0px;
}
.e480_57 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:151.0823974609375px;
	height:113px;
	position:absolute;
	left:683.9176025390625px;
	top:0px;
}
.e480_51 { 
	background-color:rgba(242.24999696016312, 255, 0, 1);
	width:151.0823974609375px;
	height:113px;
	position:absolute;
	left:151.0823974609375px;
	top:0px;
}
.e480_53 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:151.0823974609375px;
	height:113px;
	position:absolute;
	left:325.096923828125px;
	top:0px;
}
.e485_33 { 
	background-color:rgba(242.24999696016312, 255, 0, 1);
	width:151.0823974609375px;
	height:113px;
	position:absolute;
	left:325.096923828125px;
	top:0px;
}
.e480_50 { 
	background-color:rgba(242.24999696016312, 255, 0, 1);
	width:151.0823974609375px;
	height:113px;
	position:absolute;
	left:0px;
	top:0px;
}
.e480_59 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:52px;
	height:116px;
	position:absolute;
	left:100px;
	top:251px;
	font-family:Inter;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e485_35 { 
	background-color:rgba(242.24999696016312, 255, 0, 1);
	width:112px;
	height:113px;
	position:absolute;
	left:1050px;
	top:1404px;
}
