.e301_187 { 
	overflow:hidden;
}
.e301_187 { 
	background-color:rgba(146.00000649690628, 171.00000500679016, 207.00000286102295, 1);
	width:1920px;
	height:1054px;
	position:absolute;
	background-image:url(images/slide_16_9___10.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_188 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:279px;
	height:72px;
	position:absolute;
	left:183px;
	top:30px;
	font-family:Moul;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e301_189 { 
	width:750px;
	height:60px;
	position:absolute;
	left:597px;
	top:36px;
}
.e301_190 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:750px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e301_190 { 
	border:1px solid rgba(17.00000088661909, 17.00000088661909, 17.00000088661909, 1);
}
.e301_191 { 
	width:39px;
	height:39px;
	position:absolute;
	left:14px;
	top:11px;
	background-image:url(images/image_2024_11_01_114806287_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_192 { 
	background-color:rgba(255, 255, 255, 1);
	width:1837px;
	height:930px;
	position:absolute;
	left:42px;
	top:117px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e457_30 { 
	color:rgba(50.136010721325874, 126.43750101327896, 43.1994791328907, 1);
	width:98px;
	height:43px;
	position:absolute;
	left:1213px;
	top:639px;
	font-family:Moul;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e301_193 { 
	background-color:rgba(156.6649094223976, 240.12499898672104, 149.07759815454483, 1);
	width:541px;
	height:25px;
	position:absolute;
	left:1013px;
	top:334px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e301_196 { 
	border:2px solid rgba(48.38603362441063, 48.38603362441063, 48.38603362441063, 1);
}
.e301_196 { 
	width:31px;
	height:19px;
	position:absolute;
	left:1734px;
	top:1389px;
}
.e301_197 { 
	border:2px solid rgba(48.38603362441063, 48.38603362441063, 48.38603362441063, 1);
}
.e301_197 { 
	width:31px;
	height:20px;
	position:absolute;
	left:1734px;
	top:1375px;
}
.e301_198 { 
	box-shadow:0px 0px 25.700000762939453px rgba(80.00997349619865, 255, 56.89809367060661, 1);
	background-color:rgba(172.4404165148735, 255, 104.89165395498276, 1);
	width:444px;
	height:95px;
	position:absolute;
	left:1015px;
	top:718px;
}
.e301_199 { 
	color:rgba(0, 0, 0, 1);
	width:452px;
	height:43px;
	position:absolute;
	left:993px;
	top:372px;
	font-family:Moul;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e301_201 { 
	color:rgba(0, 0, 0, 1);
	width:512px;
	height:43px;
	position:absolute;
	left:890px;
	top:479px;
	font-family:Moul;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e301_204 { 
	color:rgba(50.000000819563866, 126.00000008940697, 43.00000123679638, 1);
	width:80px;
	height:59px;
	position:absolute;
	left:1033px;
	top:415px;
	font-family:Montserrat;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e301_205 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(102.46487617492676, 80.14805808663368, 66.33288100361824, 1);
	width:1920px;
	height:78px;
	position:absolute;
	left:0px;
	top:141px;
}
.e301_206 { 
	color:rgba(0, 0, 0, 1);
	width:487px;
	height:59px;
	position:absolute;
	left:993px;
	top:736px;
	font-family:Montserrat;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e301_207 { 
	background-color:rgba(119.00000050663948, 119.00000050663948, 119.00000050663948, 1);
	width:690px;
	height:25px;
	position:absolute;
	left:1013px;
	top:334px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e301_208 { 
	color:rgba(255, 255, 255, 1);
	width:254px;
	height:58px;
	position:absolute;
	left:851px;
	top:150px;
	font-family:Moul;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e301_209 { 
	color:rgba(0, 0, 0, 0.10000000149011612);
	width:153px;
	height:58px;
	position:absolute;
	left:669px;
	top:41px;
	font-family:Moul;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e301_211 { 
	color:rgba(0, 0, 0, 1);
	width:1065px;
	height:65px;
	position:absolute;
	left:432px;
	top:244px;
	font-family:Moul;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e301_213 { 
	background-image:linear-gradient(0deg, rgba(76.92730531096458, 172.97621816396713, 68.08070361614227, 1) 0%,rgba(90.47619268298149, 228.0000016093254, 77.80952677130699, 1) 100%) ;
	width:545px;
	height:25px;
	position:absolute;
	left:1013px;
	top:334px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e301_216 { 
	box-shadow:0px 7px 4.800000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.69049352407455, 107.19040140509605, 129.51032012701035, 1);
	width:298px;
	height:65px;
	position:absolute;
	left:493px;
	top:912px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e301_217 { 
	box-shadow:0px 7px 4.800000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.69049352407455, 107.19040140509605, 129.51032012701035, 1);
	width:298px;
	height:65px;
	position:absolute;
	left:1436px;
	top:912px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e301_218 { 
	box-shadow:0px 7px 4.800000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.69049352407455, 107.19040140509605, 129.51032012701035, 1);
	width:298px;
	height:65px;
	position:absolute;
	left:807px;
	top:912px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e301_219 { 
	color:rgba(255, 255, 255, 1);
	width:123px;
	height:35px;
	position:absolute;
	left:586px;
	top:927px;
	font-family:Metrophobic;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e301_220 { 
	color:rgba(255, 255, 255, 1);
	width:159px;
	height:35px;
	position:absolute;
	left:891px;
	top:927px;
	font-family:Metrophobic;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e301_221 { 
	box-shadow:0px 7px 4.800000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.69049352407455, 107.19040140509605, 129.51032012701035, 1);
	width:298px;
	height:65px;
	position:absolute;
	left:1122px;
	top:912px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e301_222 { 
	width:611px;
	height:462px;
	position:absolute;
	left:152px;
	top:344px;
	border-top-left-radius:39px;
	border-top-right-radius:39px;
	border-bottom-left-radius:39px;
	border-bottom-right-radius:39px;
	background-image:url(images/pet_softtoy_bone2_9fe3c334b5_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_223 { 
	transform: rotate(89.83084873324862deg);
	width:48.67493438720703px;
	height:30.42183494567871px;
	position:absolute;
	left:183.42176818847656px;
	top:530.8666381835938px;
}
.e301_224 { 
	transform: rotate(89.83084873324862deg);
	width:48.67493438720703px;
	height:30.42183494567871px;
	position:absolute;
	left:0px;
	top:0px;
}
.e301_225 { 
	transform: rotate(-90.1691512667514deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:48.67493438720703px;
	height:30.42183494567871px;
	position:absolute;
	left:-30.278002377251312px;
	top:48.76453522285942px;
}
.e301_226 { 
	transform: rotate(-90.1691512667514deg);
	background-color:rgba(255, 255, 255, 1);
	width:21.599502563476562px;
	height:13.081389427185059px;
	position:absolute;
	left:-20.582528926411584px;
	top:35.35100374346462px;
}
.e301_227 { 
	transform: rotate(-89.869583004984deg);
	width:48.67493438720703px;
	height:30.42183494567871px;
	position:absolute;
	left:732.53564453125px;
	top:579.5447387695312px;
}
.e301_228 { 
	transform: rotate(-89.869583004984deg);
	width:48.67493438720703px;
	height:30.42183494567871px;
	position:absolute;
	left:0px;
	top:0px;
}
.e301_229 { 
	transform: rotate(90.13041699501602deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:48.67493438720703px;
	height:30.42183494567871px;
	position:absolute;
	left:30.532551057833643px;
	top:-48.60556332912438px;
}
.e301_230 { 
	transform: rotate(90.13041699501602deg);
	background-color:rgba(255, 255, 255, 1);
	width:21.599502563476562px;
	height:13.081389427185059px;
	position:absolute;
	left:20.767262393297756px;
	top:-35.24253274303442px;
}
.e301_233 { 
	color:rgba(255, 255, 255, 1);
	width:112px;
	height:35px;
	position:absolute;
	left:1215px;
	top:927px;
	font-family:Metrophobic;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e301_234 { 
	color:rgba(255, 255, 255, 1);
	width:56px;
	height:35px;
	position:absolute;
	left:1557px;
	top:927px;
	font-family:Metrophobic;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e301_243 { 
	width:33px;
	height:33px;
	position:absolute;
	left:546px;
	top:928px;
	background-image:url(images/5957125_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_244 { 
	width:45px;
	height:45px;
	position:absolute;
	left:839px;
	top:922px;
	background-image:url(images/3867424_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_245 { 
	width:48px;
	height:48px;
	position:absolute;
	left:1496px;
	top:921px;
	background-image:url(images/4403555_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.e301_247 { 
	border:3px solid rgba(146.00000649690628, 171.00000500679016, 207.00000286102295, 1);
}
.e301_247 { 
	width:60px;
	height:0px;
	position:absolute;
	left:48px;
	top:35px;
}
.e301_248 { 
	border:3px solid rgba(146.00000649690628, 171.00000500679016, 207.00000286102295, 1);
}
.e301_248 { 
	width:60px;
	height:0px;
	position:absolute;
	left:48px;
	top:54px;
}
.e301_249 { 
	border:3px solid rgba(146.00000649690628, 171.00000500679016, 207.00000286102295, 1);
}
.e301_249 { 
	width:60px;
	height:0px;
	position:absolute;
	left:48px;
	top:71px;
}
.e301_406 { 
	border:2px solid rgba(48.38603362441063, 48.38603362441063, 48.38603362441063, 1);
}
.e301_406 { 
	width:31px;
	height:19px;
	position:absolute;
	left:945px;
	top:1018px;
}
.e301_407 { 
	border:2px solid rgba(48.38603362441063, 48.38603362441063, 48.38603362441063, 1);
}
.e301_407 { 
	width:31px;
	height:20px;
	position:absolute;
	left:945px;
	top:1004px;
}
.e301_734 { 
	width:119px;
	height:119px;
	position:absolute;
	left:108px;
	top:297px;
	background-image:url(images/pngtree_quality_check_certified_badge_icon_png_image_6583296_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_831 { 
	box-shadow:0px 7px 4.800000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.69049352407455, 107.19040140509605, 129.51032012701035, 1);
	width:298px;
	height:65px;
	position:absolute;
	left:178px;
	top:912px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e301_832 { 
	color:rgba(255, 255, 255, 1);
	width:102px;
	height:35px;
	position:absolute;
	left:268px;
	top:927px;
	font-family:Metrophobic;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e301_833 { 
	width:39px;
	height:39px;
	position:absolute;
	left:217px;
	top:925px;
	background-image:url(images/14931813_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_859 { 
	width:73px;
	height:73px;
	position:absolute;
	left:1635px;
	top:7px;
	background-image:url(images/4128335_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_860 { 
	color:rgba(255, 255, 255, 1);
	width:265px;
	height:15px;
	position:absolute;
	left:1564px;
	top:90px;
	font-family:Mitr;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e301_203 { 
	color:rgba(50.000000819563866, 126.00000008940697, 43.00000123679638, 1);
	width:158px;
	height:59px;
	position:absolute;
	left:1023px;
	top:521px;
	font-family:Montserrat;
	text-align:center;
	font-size:38px;
	letter-spacing:0;
}
.e301_202 { 
	color:rgba(0, 0, 0, 1);
	width:304px;
	height:43px;
	position:absolute;
	left:940px;
	top:585px;
	font-family:Moul;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e301_572 { 
	width:55px;
	height:55px;
	position:absolute;
	left:1523px;
	top:742px;
	background-image:url(images/facebook_logo__2019__png_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_573 { 
	width:107px;
	height:72px;
	position:absolute;
	left:1580px;
	top:734px;
	background-image:url(images/twitter_logo_wine_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_574 { 
	width:51px;
	height:38px;
	position:absolute;
	left:1696px;
	top:751px;
	background-image:url(images/gmail_logo_512px_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_200 { 
	color:rgba(0, 0, 0, 1);
	width:512px;
	height:43px;
	position:absolute;
	left:863px;
	top:639px;
	font-family:Moul;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
