.container--0- {
    position: absolute;
    left: -9825px;
    top: 16186px;
    width: 1920px;
    height: 1080px;
    background-color: #cce0ffb2;
    justify-content: start;
    align-items: start;
  }
  .text-0-1-2 {
    width: 670px;
    height: 173px;
    color: #ffffff;
    box-shadow: 0px 4px 4px 0 #000000, 0px 4px 4px 0 #000000;
    font-size: 64px;
    font-family: Moul, "Regular";
    font-weight: 400;
    text-align: center;
    vertical-align: center;
  }
  .text-0-1-5 {
    width: 792px;
    height: 116px;
    color: #ffffff;
    font-size: 64px;
    font-family: Moul, "Regular";
    font-weight: 400;
    text-align: center;
    vertical-align: center;
  }
  .text-0-1-11 {
    width: 123px;
    height: 39px;
    color: #ffffff;
    font-size: 32px;
    font-family: Merriweather Sans, "Bold";
    font-weight: 700;
    text-align: center;
    vertical-align: center;
  }
  .text-0-1-12 {
    width: 146px;
    height: 34px;
    color: #00000080;
    font-size: 28px;
    font-family: Montserrat, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-0-1-13 {
    width: 80px;
    height: 34px;
    color: #00000080;
    font-size: 28px;
    font-family: Montserrat, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-0-1-14 {
    width: 135px;
    height: 34px;
    color: #00000080;
    font-size: 28px;
    font-family: Montserrat, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-0-1-15 {
    width: 220px;
    height: 34px;
    color: #00000080;
    font-size: 28px;
    font-family: Montserrat, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
  .text-0-1-16 {
    width: 402px;
    height: 34px;
    color: #00000080;
    font-size: 28px;
    font-family: Montserrat, "Bold";
    font-weight: 700;
    text-align: left;
    vertical-align: top;
  }