.e301_493 { 
	overflow:hidden;
}
.e301_493 { 
	background-color:rgba(146.00000649690628, 171.00000500679016, 207.00000286102295, 1);
	width:1920px;
	height:1080px;
	position:absolute;
	background-image:url(images/slide_16_9___14.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_494 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:279px;
	height:72px;
	position:absolute;
	left:183px;
	top:30px;
	font-family:Moul;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e301_495 { 
	width:750px;
	height:60px;
	position:absolute;
	left:597px;
	top:36px;
}
.e301_496 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:750px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e301_496 { 
	border:1px solid rgba(17.00000088661909, 17.00000088661909, 17.00000088661909, 1);
}
.e301_497 { 
	width:39px;
	height:39px;
	position:absolute;
	left:14px;
	top:11px;
	background-image:url(images/image_2024_11_01_114806287_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_498 { 
	background-color:rgba(255, 255, 255, 1);
	width:1837px;
	height:930px;
	position:absolute;
	left:42px;
	top:117px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e301_500 { 
	box-shadow:0px 4px 15.800000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(220.30574887990952, 220.30574887990952, 220.30574887990952, 1);
	width:1498px;
	height:326px;
	position:absolute;
	left:353px;
	top:1129px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
	background-image:url(images/rectangle_51.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_500 { 
	border:4px solid rgba(185.53302437067032, 185.53302437067032, 185.53302437067032, 1);
}
.e301_502 { 
	border:2px solid rgba(48.38603362441063, 48.38603362441063, 48.38603362441063, 1);
}
.e301_502 { 
	width:31px;
	height:19px;
	position:absolute;
	left:1734px;
	top:1389px;
}
.e301_503 { 
	border:2px solid rgba(48.38603362441063, 48.38603362441063, 48.38603362441063, 1);
}
.e301_503 { 
	width:31px;
	height:20px;
	position:absolute;
	left:1734px;
	top:1375px;
}
.e301_515 { 
	color:rgba(0, 0, 0, 0.10000000149011612);
	width:153px;
	height:58px;
	position:absolute;
	left:669px;
	top:41px;
	font-family:Moul;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e301_516 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 1) 0%,rgba(203.88530999422073, 203.88530999422073, 203.88530999422073, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:1425px;
	height:126px;
	position:absolute;
	left:398px;
	top:1218px;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e301_521 { 
	box-shadow:0px 7px 4.800000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.69049352407455, 107.19040140509605, 129.51032012701035, 1);
	width:298px;
	height:65px;
	position:absolute;
	left:497px;
	top:146px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e301_558 { 
	box-shadow:0px 7px 4.800000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.69049352407455, 107.19040140509605, 129.51032012701035, 1);
	width:298px;
	height:65px;
	position:absolute;
	left:182px;
	top:146px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e301_522 { 
	box-shadow:0px 7px 4.800000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.69049352407455, 107.19040140509605, 129.51032012701035, 1);
	width:298px;
	height:65px;
	position:absolute;
	left:1440px;
	top:146px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e301_523 { 
	box-shadow:0px 7px 4.800000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.69049352407455, 107.19040140509605, 129.51032012701035, 1);
	width:298px;
	height:65px;
	position:absolute;
	left:811px;
	top:146px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e301_524 { 
	color:rgba(255, 255, 255, 1);
	width:123px;
	height:35px;
	position:absolute;
	left:590px;
	top:161px;
	font-family:Metrophobic;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e301_520 { 
	color:rgba(255, 255, 255, 1);
	width:102px;
	height:35px;
	position:absolute;
	left:272px;
	top:161px;
	font-family:Metrophobic;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e301_525 { 
	color:rgba(255, 255, 255, 1);
	width:159px;
	height:35px;
	position:absolute;
	left:895px;
	top:161px;
	font-family:Metrophobic;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e301_526 { 
	box-shadow:0px 7px 4.800000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(91.69049352407455, 107.19040140509605, 129.51032012701035, 1);
	width:298px;
	height:65px;
	position:absolute;
	left:1126px;
	top:146px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e301_536 { 
	box-shadow:0px 4px 4.300000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(124.28536489605904, 124.28536489605904, 124.28536489605904, 1);
	width:13px;
	height:179px;
	position:absolute;
	left:1816px;
	top:1210px;
	border-top-left-radius:354.5px;
	border-top-right-radius:354.5px;
	border-bottom-left-radius:354.5px;
	border-bottom-right-radius:354.5px;
}
.e301_537 { 
	background-color:rgba(202.91940182447433, 202.91940182447433, 202.91940182447433, 1);
	width:13px;
	height:137px;
	position:absolute;
	left:1816px;
	top:1210px;
	border-top-left-radius:354.5px;
	border-top-right-radius:354.5px;
	border-bottom-left-radius:354.5px;
	border-bottom-right-radius:354.5px;
}
.e301_538 { 
	color:rgba(255, 255, 255, 1);
	width:112px;
	height:35px;
	position:absolute;
	left:1219px;
	top:161px;
	font-family:Metrophobic;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e301_539 { 
	color:rgba(255, 255, 255, 1);
	width:56px;
	height:35px;
	position:absolute;
	left:1561px;
	top:161px;
	font-family:Metrophobic;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e301_540 { 
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:42px;
	position:absolute;
	left:105px;
	top:1152px;
	font-family:Metrophobic;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e301_541 { 
	background-color:rgba(94.73756521940231, 94.73756521940231, 94.73756521940231, 1);
	width:261px;
	height:70px;
	position:absolute;
	left:57px;
	top:1264px;
}
.e301_542 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:42px;
	position:absolute;
	left:105px;
	top:1215px;
	font-family:Metrophobic;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e301_543 { 
	color:rgba(255, 255, 255, 1);
	width:173px;
	height:42px;
	position:absolute;
	left:105px;
	top:1278px;
	font-family:Metrophobic;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e301_544 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:42px;
	position:absolute;
	left:105px;
	top:1341px;
	font-family:Metrophobic;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e301_545 { 
	color:rgba(0, 0, 0, 1);
	width:213px;
	height:42px;
	position:absolute;
	left:105px;
	top:1404px;
	font-family:Metrophobic;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e301_546 { 
	box-shadow:-1px 0px 0.5px rgba(0, 0, 0, 0.25);
	transform: rotate(90.00000250447808deg);
	background-color:rgba(159.07318979501724, 224.62318360805511, 255, 1);
	width:31px;
	height:31px;
	position:absolute;
	left:92px;
	top:1283px;
}
.e301_547 { 
	width:39px;
	height:39px;
	position:absolute;
	left:221px;
	top:159px;
	background-image:url(images/14931813_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_548 { 
	width:33px;
	height:33px;
	position:absolute;
	left:550px;
	top:162px;
	background-image:url(images/5957125_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_549 { 
	width:45px;
	height:45px;
	position:absolute;
	left:843px;
	top:156px;
	background-image:url(images/3867424_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_550 { 
	width:48px;
	height:48px;
	position:absolute;
	left:1500px;
	top:155px;
	background-image:url(images/4403555_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_551 { 
	background-color:rgba(249.2045357823372, 249.2045357823372, 249.2045357823372, 1);
	width:120px;
	height:69px;
	position:absolute;
	left:17px;
	top:19px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e301_552 { 
	border:3px solid rgba(146.00000649690628, 171.00000500679016, 207.00000286102295, 1);
}
.e301_552 { 
	width:60px;
	height:0px;
	position:absolute;
	left:48px;
	top:35px;
}
.e301_553 { 
	border:3px solid rgba(146.00000649690628, 171.00000500679016, 207.00000286102295, 1);
}
.e301_553 { 
	width:60px;
	height:0px;
	position:absolute;
	left:48px;
	top:54px;
}
.e301_554 { 
	border:3px solid rgba(146.00000649690628, 171.00000500679016, 207.00000286102295, 1);
}
.e301_554 { 
	width:60px;
	height:0px;
	position:absolute;
	left:48px;
	top:71px;
}
.e301_555 { 
	transform: rotate(-179.99999499104388deg);
	width:31px;
	height:19px;
	position:absolute;
	left:991px;
	top:1021px;
}
.e301_555 { 
	border:2px solid rgba(48.38603362441063, 48.38603362441063, 48.38603362441063, 1);
}
.e301_556 { 
	transform: rotate(-179.99999499104388deg);
	width:31px;
	height:20px;
	position:absolute;
	left:991px;
	top:1035px;
}
.e301_556 { 
	border:2px solid rgba(48.38603362441063, 48.38603362441063, 48.38603362441063, 1);
}
.e301_560 { 
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:42px;
	position:absolute;
	left:126px;
	top:282px;
	font-family:Metrophobic;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e301_561 { 
	background-color:rgba(94.73756521940231, 94.73756521940231, 94.73756521940231, 1);
	width:261px;
	height:70px;
	position:absolute;
	left:84px;
	top:331px;
}
.e301_562 { 
	color:rgba(255, 255, 255, 1);
	width:173px;
	height:42px;
	position:absolute;
	left:126px;
	top:345px;
	font-family:Metrophobic;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e301_563 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:42px;
	position:absolute;
	left:126px;
	top:408px;
	font-family:Metrophobic;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e301_564 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:42px;
	position:absolute;
	left:126px;
	top:471px;
	font-family:Metrophobic;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e301_565 { 
	color:rgba(0, 0, 0, 1);
	width:213px;
	height:42px;
	position:absolute;
	left:126px;
	top:534px;
	font-family:Metrophobic;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e301_566 { 
	box-shadow:-1px 0px 0.5px rgba(0, 0, 0, 0.25);
	transform: rotate(90.00000250447808deg);
	background-color:rgba(159.07318979501724, 224.62318360805511, 255, 1);
	width:31px;
	height:31px;
	position:absolute;
	left:115px;
	top:350px;
}
.e301_569 { 
	border:3px solid rgba(86.0443764925003, 65.80643445253372, 65.80643445253372, 1);
}
.e301_569 { 
	position:absolute;
	left:393px;
	top:282px;
}
.e301_575 { 
	box-shadow:0px 11px 13.5px rgba(0, 0, 0, 0.25);
	background-color:rgba(102.46487617492676, 80.14805808663368, 66.33288100361824, 1);
	width:638.54931640625px;
	height:323px;
	position:absolute;
	left:461px;
	top:279px;
	border-top-left-radius:26px;
	border-top-right-radius:26px;
	border-bottom-left-radius:26px;
	border-bottom-right-radius:26px;
}
.e301_576 { 
	color:rgba(255, 255, 255, 1);
	width:198px;
	height:40px;
	position:absolute;
	left:512px;
	top:318px;
	font-family:Mplus 1p Bold;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e301_577 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0.10000000149011612) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:253.99874877929688px;
	height:123.00777435302734px;
	position:absolute;
	left:484px;
	top:365px;
	font-family:Metrophobic;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e301_578 { 
	color:rgba(255, 255, 255, 1);
	width:89.69886016845703px;
	height:44.34973907470703px;
	position:absolute;
	left:979.65478515625px;
	top:542.587890625px;
	font-family:Metrophobic;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e301_579 { 
	width:296.6279296875px;
	height:186.60362243652344px;
	position:absolute;
	left:764.73291015625px;
	top:318.328125px;
	background-image:url(images/rectangle_70.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_580 { 
	background-color:rgba(119.00000050663948, 119.00000050663948, 119.00000050663948, 1);
	width:296.6279296875px;
	height:14.225388526916504px;
	position:absolute;
	left:764.73291015625px;
	top:525.8515625px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e301_581 { 
	background-image:linear-gradient(0deg, rgba(76.92730531096458, 172.97621816396713, 68.08070361614227, 1) 0%,rgba(90.47619268298149, 228.0000016093254, 77.80952677130699, 1) 100%) ;
	width:117.23019409179688px;
	height:12.551813125610352px;
	position:absolute;
	left:764.73291015625px;
	top:526.689453125px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e301_582 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e301_582 { 
	width:27.531333923339844px;
	height:15.898963928222656px;
	position:absolute;
	left:597px;
	top:510.71484375px;
}
.e301_583 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e301_583 { 
	width:27.531333923339844px;
	height:16.73575210571289px;
	position:absolute;
	left:597px;
	top:499px;
}
.e301_597 { 
	box-shadow:0px 11px 13.5px rgba(0, 0, 0, 0.25);
	background-color:rgba(102.46487617492676, 80.14805808663368, 66.33288100361824, 1);
	width:638.54931640625px;
	height:323px;
	position:absolute;
	left:1177px;
	top:279px;
	border-top-left-radius:26px;
	border-top-right-radius:26px;
	border-bottom-left-radius:26px;
	border-bottom-right-radius:26px;
}
.e301_598 { 
	color:rgba(255, 255, 255, 1);
	width:198px;
	height:40px;
	position:absolute;
	left:1228px;
	top:318px;
	font-family:Mplus 1p Bold;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e301_599 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0.10000000149011612) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:253.99874877929688px;
	height:123.00777435302734px;
	position:absolute;
	left:1200px;
	top:365px;
	font-family:Metrophobic;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e301_600 { 
	color:rgba(255, 255, 255, 1);
	width:89.69886016845703px;
	height:44.34973907470703px;
	position:absolute;
	left:1695.65478515625px;
	top:542.587890625px;
	font-family:Metrophobic;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e301_601 { 
	width:296.6279296875px;
	height:186.60362243652344px;
	position:absolute;
	left:1480.73291015625px;
	top:318.328125px;
	background-image:url(images/rectangle_84.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_602 { 
	background-color:rgba(119.00000050663948, 119.00000050663948, 119.00000050663948, 1);
	width:296.6279296875px;
	height:14.225388526916504px;
	position:absolute;
	left:1480.73291015625px;
	top:525.8515625px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e301_603 { 
	background-image:linear-gradient(0deg, rgba(76.92730531096458, 172.97621816396713, 68.08070361614227, 1) 0%,rgba(90.47619268298149, 228.0000016093254, 77.80952677130699, 1) 100%) ;
	width:117.23019409179688px;
	height:12.551813125610352px;
	position:absolute;
	left:1480.73291015625px;
	top:526.689453125px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e301_604 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e301_604 { 
	width:27.531333923339844px;
	height:15.898963928222656px;
	position:absolute;
	left:1313px;
	top:510.71484375px;
}
.e301_605 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e301_605 { 
	width:27.531333923339844px;
	height:16.73575210571289px;
	position:absolute;
	left:1313px;
	top:499px;
}
.e301_610 { 
	box-shadow:0px 11px 13.5px rgba(0, 0, 0, 0.25);
	background-color:rgba(102.46487617492676, 80.14805808663368, 66.33288100361824, 1);
	width:638.54931640625px;
	height:323px;
	position:absolute;
	left:461px;
	top:648px;
	border-top-left-radius:26px;
	border-top-right-radius:26px;
	border-bottom-left-radius:26px;
	border-bottom-right-radius:26px;
}
.e301_611 { 
	color:rgba(255, 255, 255, 1);
	width:198px;
	height:40px;
	position:absolute;
	left:512px;
	top:687px;
	font-family:Mplus 1p Bold;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e301_612 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0.10000000149011612) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:253.99874877929688px;
	height:123.00777435302734px;
	position:absolute;
	left:484px;
	top:734px;
	font-family:Metrophobic;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e301_613 { 
	color:rgba(255, 255, 255, 1);
	width:89.69886016845703px;
	height:44.34973907470703px;
	position:absolute;
	left:979.65478515625px;
	top:911.587890625px;
	font-family:Metrophobic;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e301_614 { 
	width:296.6279296875px;
	height:186.60362243652344px;
	position:absolute;
	left:764.73291015625px;
	top:687.328125px;
	background-image:url(images/rectangle_88.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_615 { 
	background-color:rgba(119.00000050663948, 119.00000050663948, 119.00000050663948, 1);
	width:296.6279296875px;
	height:14.225388526916504px;
	position:absolute;
	left:764.73291015625px;
	top:894.8515625px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e301_616 { 
	background-image:linear-gradient(0deg, rgba(76.92730531096458, 172.97621816396713, 68.08070361614227, 1) 0%,rgba(90.47619268298149, 228.0000016093254, 77.80952677130699, 1) 100%) ;
	width:117.23019409179688px;
	height:12.551813125610352px;
	position:absolute;
	left:764.73291015625px;
	top:895.689453125px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e301_617 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e301_617 { 
	width:27.531333923339844px;
	height:15.898963928222656px;
	position:absolute;
	left:597px;
	top:879.71484375px;
}
.e301_618 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e301_618 { 
	width:27.531333923339844px;
	height:16.73575210571289px;
	position:absolute;
	left:597px;
	top:868px;
}
.e301_619 { 
	box-shadow:0px 11px 13.5px rgba(0, 0, 0, 0.25);
	background-color:rgba(102.46487617492676, 80.14805808663368, 66.33288100361824, 1);
	width:638.54931640625px;
	height:323px;
	position:absolute;
	left:1177px;
	top:648px;
	border-top-left-radius:26px;
	border-top-right-radius:26px;
	border-bottom-left-radius:26px;
	border-bottom-right-radius:26px;
}
.e301_620 { 
	color:rgba(255, 255, 255, 1);
	width:198px;
	height:40px;
	position:absolute;
	left:1228px;
	top:687px;
	font-family:Mplus 1p Bold;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e301_621 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0.10000000149011612) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:253.99874877929688px;
	height:123.00777435302734px;
	position:absolute;
	left:1200px;
	top:734px;
	font-family:Metrophobic;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e301_622 { 
	color:rgba(255, 255, 255, 1);
	width:89.69886016845703px;
	height:44.34973907470703px;
	position:absolute;
	left:1695.65478515625px;
	top:911.587890625px;
	font-family:Metrophobic;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e301_623 { 
	width:296.6279296875px;
	height:186.60362243652344px;
	position:absolute;
	left:1480.73291015625px;
	top:687.328125px;
	background-image:url(images/rectangle_92.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_624 { 
	background-color:rgba(119.00000050663948, 119.00000050663948, 119.00000050663948, 1);
	width:296.6279296875px;
	height:14.225388526916504px;
	position:absolute;
	left:1480.73291015625px;
	top:894.8515625px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e301_625 { 
	background-image:linear-gradient(0deg, rgba(76.92730531096458, 172.97621816396713, 68.08070361614227, 1) 0%,rgba(90.47619268298149, 228.0000016093254, 77.80952677130699, 1) 100%) ;
	width:117.23019409179688px;
	height:12.551813125610352px;
	position:absolute;
	left:1480.73291015625px;
	top:895.689453125px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e301_626 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e301_626 { 
	width:27.531333923339844px;
	height:15.898963928222656px;
	position:absolute;
	left:1313px;
	top:879.71484375px;
}
.e301_627 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e301_627 { 
	width:27.531333923339844px;
	height:16.73575210571289px;
	position:absolute;
	left:1313px;
	top:868px;
}
.e301_629 { 
	box-shadow:0px 4px 4.300000190734863px rgba(0, 0, 0, 0.25);
	background-color:rgba(124.28536489605904, 124.28536489605904, 124.28536489605904, 1);
	width:13px;
	height:701px;
	position:absolute;
	left:1845px;
	top:251px;
	border-top-left-radius:354.5px;
	border-top-right-radius:354.5px;
	border-bottom-left-radius:354.5px;
	border-bottom-right-radius:354.5px;
}
.e301_630 { 
	background-color:rgba(202.91940182447433, 202.91940182447433, 202.91940182447433, 1);
	width:13px;
	height:194px;
	position:absolute;
	left:1845px;
	top:251px;
	border-top-left-radius:354.5px;
	border-top-right-radius:354.5px;
	border-bottom-left-radius:354.5px;
	border-bottom-right-radius:354.5px;
}
.e301_856 { 
	width:73px;
	height:73px;
	position:absolute;
	left:1635px;
	top:7px;
	background-image:url(images/4128335_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e301_857 { 
	color:rgba(255, 255, 255, 1);
	width:265px;
	height:15px;
	position:absolute;
	left:1564px;
	top:90px;
	font-family:Mitr;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e345_30 { 
	width:72px;
	height:66px;
	position:absolute;
	left:1776px;
	top:18px;
	background-image:url(images/image_96.png);
	background-repeat:no-repeat;
	background-size:cover;
}
