.e1_142 { 
	overflow:hidden;
}
.e1_142 { 
	background-color:rgba(132.0000073313713, 184.00000423192978, 255, 0.30000001192092896);
	width:1920px;
	height:1080px;
	position:absolute;
	background-image:url(images/_____________________.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_143 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:279px;
	height:72px;
	position:absolute;
	left:97px;
	top:68px;
	font-family:Moul;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e1_144 { 
	color:rgba(255, 255, 255, 1);
	width:703px;
	height:87px;
	position:absolute;
	left:97px;
	top:256px;
	font-family:Moul;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e1_145 { 
	width:840px;
	height:78.94735717773438px;
	position:absolute;
	left:101px;
	top:458px;
}
.e1_146 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:840px;
	height:78.94735717773438px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_146 { 
	border:1px solid rgba(17.00000088661909, 17.00000088661909, 17.00000088661909, 1);
}
.e1_147 { 
	width:840px;
	height:78.94735717773438px;
	position:absolute;
	left:97px;
	top:579px;
}
.e1_148 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:840px;
	height:78.94735717773438px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_148 { 
	border:1px solid rgba(17.00000088661909, 17.00000088661909, 17.00000088661909, 1);
}
.e1_149 { 
	color:rgba(0, 0, 0, 0.5);
	width:86px;
	height:34px;
	position:absolute;
	left:132px;
	top:480px;
	font-family:Montserrat;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e1_150 { 
	color:rgba(0, 0, 0, 0.5);
	width:86px;
	height:34px;
	position:absolute;
	left:132px;
	top:602px;
	font-family:Montserrat;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e1_151 { 
	width:64px;
	height:40px;
	position:absolute;
	left:845px;
	top:477px;
}
.e1_152 { 
	width:64px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_153 { 
	transform: rotate(180deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:64px;
	height:40px;
	position:absolute;
	left:64px;
	top:40px;
}
.e1_154 { 
	transform: rotate(180deg);
	background-color:rgba(255, 255, 255, 1);
	width:28.399999618530273px;
	height:17.200000762939453px;
	position:absolute;
	left:46.400001525878906px;
	top:27.200000762939453px;
}
.e1_155 { 
	width:64px;
	height:40px;
	position:absolute;
	left:845px;
	top:598px;
}
.e1_156 { 
	width:64px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_157 { 
	transform: rotate(180deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:64px;
	height:40px;
	position:absolute;
	left:64px;
	top:40px;
}
.e1_158 { 
	transform: rotate(180deg);
	background-color:rgba(255, 255, 255, 1);
	width:28.399999618530273px;
	height:17.200000762939453px;
	position:absolute;
	left:46.400001525878906px;
	top:27.200000762939453px;
}
.e1_159 { 
	width:1719px;
	height:1080px;
	position:absolute;
	left:1007px;
	top:1px;
	background-image:url(images/project_manager_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_160 { 
	box-shadow:0px 0px 17.100000381469727px rgba(255, 219.83343422412872, 176.85190379619598, 0.8999999761581421);
	background-color:rgba(102.46487617492676, 80.14805808663368, 66.33288100361824, 1);
	width:287px;
	height:76px;
	position:absolute;
	left:377px;
	top:741px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e1_161 { 
	color:rgba(255, 255, 255, 1);
	width:255px;
	height:35px;
	position:absolute;
	left:409px;
	top:761px;
	font-family:Merriweather Sans;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e1_162 { 
	width:50px;
	height:50px;
	position:absolute;
	left:1800px;
	top:70px;
	background-image:url(images/image_74.png);
	background-repeat:no-repeat;
	background-size:cover;
}
